<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ResultServlet</servlet-name>
        <servlet-class>upec.groupe1.servlet.ResultServlet</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>VoteOfficesServlet</servlet-name>
        <servlet-class>upec.groupe1.servlet.VoteOfficesServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>ResultsByBVServlet</servlet-name>
        <servlet-class>JSPHandler.ResultsByBVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailBVServlet</servlet-name>
        <servlet-class>JSPHandler.DetailBVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortResultsServlet</servlet-name>
        <servlet-class>JSPHandler.SortResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyResultsServlet</servlet-name>
        <servlet-class>JSPHandler.MyResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>JSPHandler.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>JSPHandler.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>JSPHandler.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultsByBVServlet</servlet-name>
        <url-pattern>/ResultsByBVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailBVServlet</servlet-name>
        <url-pattern>/DetailBVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortResultsServlet</servlet-name>
        <url-pattern>/SortResultsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyResultsServlet</servlet-name>
        <url-pattern>/MyResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ResultServlet</servlet-name>
        <url-pattern>/results</url-pattern>
        <url-pattern>/results/presidentielle</url-pattern>
        <url-pattern>/results/legislatives</url-pattern>
        <url-pattern>/results/legislatives/candidat</url-pattern>
        <url-pattern>/results/presidentielle/candidat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteOfficesServlet</servlet-name>
        <url-pattern>/voteoffices</url-pattern>
        <url-pattern>/voteoffices/arr</url-pattern>
        <url-pattern>/voteoffices/searchAdress</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
     <welcome-file-list>
        <welcome-file>faces/index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
